<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>MAC_APP_NAME</string>
	<key>CFBundleExecutable</key>
	<string>TARGET</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>MAC_BUNDLE_ID</string>
	<key>CFBundleGetInfoString</key>
	<string>MAC_INFO_STRING</string>
	<key>CFBundleVersion</key>
	<string>MAC_VERSION</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5</string>
	<key>NSHighResolutionCapable</key>
	<string>Yes</string>
</dict>
</plist>
