.svn/
*.utf
*.o
*.exe
/Makefile
/src/Makefile
/src/embed
/src/ponscr
/src/SDL2.dll
/src/resources.cpp
/src/extlib/bin
/src/extlib/include
/src/extlib/lib
/src/extlib/share
/doc/*.html
/doc/*.proc
/doc/*.6
/doc/*.7
/doc/version-number
*.Plo
*.lai
*.lo
.agignore
/src/extlib/src/steam-sdk
!/src/extlib/src/steam-sdk/configure

# qt creator project files
# if you import ponscripter into qt creator, name the project 'pons'
/pons.config
/pons.creator
/pons.creator.user
/pons.files
/pons.includes
