### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Linux ###
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*


### Qt ###
# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*


### Ponscripter-fork ###

.svn/
*.utf
*.o
*.exe
/Makefile
/src/Makefile
/src/embed
/src/ponscr
/src/SDL2.dll
/src/resources.cpp
/src/extlib/bin
/src/extlib/include
/src/extlib/lib
/src/extlib/share
/doc/*.html
/doc/*.proc
/doc/*.6
/doc/*.7
/doc/version-number
*.Plo
*.lai
*.lo
.agignore
/src/extlib/src/steam-sdk
!/src/extlib/src/steam-sdk/configure
*.app
/gamedata
/src/narcissu2

# qt creator project files
# if you import ponscripter into qt creator, name the project 'pons'
/pons.config
/pons.creator
/pons.creator.user
/pons.files
/pons.includes
