ONSCRICON ICON "narci.ico"

1 VERSIONINFO
FILEVERSION 2007, 7, 21, 0
PRODUCTVERSION 2007, 7, 21, 0
FILEFLAGS 32
FILEOS 4
FILETYPE 1
{
   BLOCK "StringFileInfo" {
       BLOCK "080904b0" {
           VALUE "FileDescription", "Narcissu"
           VALUE "OriginalFilename", "Narcissu.exe"
           VALUE "CompanyName", "Stage-Nana/Haeleth"
           VALUE "FileVersion", "2007-07-21"
           VALUE "LegalCopyright", "Copyright (c) 2005-7 Stage-Nana/Haeleth. Engine copyright (c) 1998-2007 Studio O.G.A, 2005-2006 insani, 2007 Haeleth. Data portions copyright (c) 1989-1992, Bitstream Inc., 1999 (URW)++, 2006 Haeleth."
           VALUE "ProductName", "Narcissu"
           VALUE "ProductVersion", "1.2"
           VALUE "Comments", "This English version runs on Ponscripter (Proportional ONScripter), a fork of Ogapee's ONScripter. Ponscripter is licensed under the GNU General Public License: see GPL.txt."
       }
   }
   BLOCK "VarFileInfo" {
       VALUE "Translation", 0x0809, 0x04B0
   }
}
