/Makefile
/config.h
/config.log
/config.status
*.lo
*.la
/src/.libs
/src/Makefile
/src/test_bitwise
/src/test_framing
/include/Makefile
/include/ogg/Makefile
/include/ogg/config_types.h
/libogg.spec
/libtool
/stamp-h1
/ogg.pc
/ogg-uninstalled.pc