Makefile
/config.h
/config.log
/config.status
/doc/Doxyfile
/doc/doxygen-build.stamp
*.lo
*.la
/lib/.libs/
/lib/test_sharedbook
/libtool
/libvorbis.spec
/stamp-h1
/vorbis-uninstalled.pc
/vorbis.pc
/vorbisenc-uninstalled.pc
/vorbisenc.pc
/vorbisfile-uninstalled.pc
/vorbisfile.pc