/Makefile
/include/Makefile
/include/vorbis/Makefile
/vq/Makefile
/config.h
/config.log
/config.status
*.lo
*.la
/lib
/libtool
/libvorbis.spec
/stamp-h1
/vorbis-uninstalled.pc
/vorbis.pc
/vorbisenc-uninstalled.pc
/vorbisenc.pc
/vorbisfile-uninstalled.pc
/vorbisfile.pc